@layer base {
    body {
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-feature-settings: "kern";
        -webkit-font-kerning: normal;
        font-kerning: normal;

        @apply text-base;
    }

    *::selection {
        @apply bg-secondary-light text-black;
    }

    a {
        @apply text-primary no-underline;

        @variant hover {
            @apply underline;
        }
    }

    [x-cloak] {
        display: none !important;
    }
}
