@use "sass:math";

$banner-padding: 1.875rem;

.ml-banner {
    @include module;

    position: relative;
    background-color: $gray;
    overflow: hidden;
    display: flex;
    align-items: stretch;

    .banner-inner-wrapper {
        position: relative;
        display: block;
        width: 100%;
        text-decoration: none;
    }

    .banner-background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .banner-content {
        position: relative;
        width: 100%;
        padding: $banner-padding;
        z-index: 3;
    }

    .at-title {
        margin-bottom: $spacer;
    }

    .banner-text {
        @include font-size($small-font-size);
    }

    &.is-xl {
        .at-title {
            @include font-size($h1-font-size);
        }

        @include media-breakpoint-up(lg) {
            .banner-content {
                padding-right: 30%;
            }
        }
    }

    &.is-l {
        .at-title {
            @include font-size($h2-font-size);
        }
    }

    &.is-m {
        .at-title {
            @include font-size($h3-font-size);
        }
    }

    &.is-s {
        .at-title {
            @include font-size($h4-font-size);
        }
    }
}
