.ml-breadcrumb {
    @include list-unstyled;

    > li {
        display: inline;

        &:not(:last-child) {
            &::after {
                display: inline-block;
                content: $breadcrumb-separator;
                margin: 0 0.25rem;
            }
        }
    }
}
