.ml-summary {
    margin-bottom: map-get($spacers, 2);

    .summary-media-wrapper {
        display: block;
        margin-bottom: map-get($spacers, 1);
    }

    .at-heading {
        @include font-size($h4-font-size);
        margin-bottom: map-get($spacers, 1);
    }
}
