@use "sass:math";

.at-tag {
    @include font-size($small-font-size);
    border: solid $border-width $black;
    padding: math.div($spacer, 2) $spacer;
    color: $black;

    &.is-primary {
        border-color: $primary;
        color: $primary;
    }

    &.is-secondary {
        border-color: $secondary;
        color: $secondary;
    }
}
