@use "sass:map";

@mixin heading1 {
    @if map.has-key($headings, 1) {
        @include font-size(map.get(map.get($headings, 1), font-size));
        font-weight: map.get(map.get($headings, 1), font-weight);
        line-height: map.get(map.get($headings, 1), line-height);
        letter-spacing: map.get(map.get($headings, 1), letter-spacing);
    }
}

@mixin heading2 {
    @if map.has-key($headings, 2) {
        @include font-size(map.get(map.get($headings, 2), font-size));
        font-weight: map.get(map.get($headings, 2), font-weight);
        line-height: map.get(map.get($headings, 2), line-height);
        letter-spacing: map.get(map.get($headings, 2), letter-spacing);
    }
}

@mixin heading3 {
    @if map.has-key($headings, 3) {
        @include font-size(map.get(map.get($headings, 3), font-size));
        font-weight: map.get(map.get($headings, 3), font-weight);
        line-height: map.get(map.get($headings, 3), line-height);
        letter-spacing: map.get(map.get($headings, 3), letter-spacing);
    }
}

@mixin heading4 {
    @if map.has-key($headings, 4) {
        @include font-size(map.get(map.get($headings, 4), font-size));
        font-weight: map.get(map.get($headings, 4), font-weight);
        line-height: map.get(map.get($headings, 4), line-height);
        letter-spacing: map.get(map.get($headings, 4), letter-spacing);
    }
}

@mixin heading5 {
    @if map.has-key($headings, 5) {
        @include font-size(map.get(map.get($headings, 5), font-size));
        font-weight: map.get(map.get($headings, 5), font-weight);
        line-height: map.get(map.get($headings, 5), line-height);
        letter-spacing: map.get(map.get($headings, 5), letter-spacing);
    }
}

@mixin heading6 {
    @if map.has-key($headings, 6) {
        @include font-size(map.get(map.get($headings, 6), font-size));
        font-weight: map.get(map.get($headings, 6), font-weight);
        line-height: map.get(map.get($headings, 6), line-height);
        letter-spacing: map.get(map.get($headings, 6), letter-spacing);
    }
}