// Screen Readers
// Use screen reader utilities to hide elements on all devices except screen readers.
.is-sr-only {
    @include visually-hidden();
}

.is-hidden {
    display: none !important;
}

.has-margin-top {
    margin-top: $spacer;
}

.has-margin-bottom {
    margin-bottom: $spacer;
}

.is-marginless-top {
    margin-top: 0 !important;
}

.is-marginless-bottom {
    margin-bottom: 0 !important;
}

.is-unstyled-list {
    @include list-unstyled;
}

.has-centered-content {
    display: flex;
    justify-content: center;
}
