@import "~bootstrap/scss/helpers/ratio";
@import "~bootstrap/scss/utilities";

.is-sr-only {
    @include visually-hidden();
}

.is-hidden {
    display: none !important;
}

.is-unstyled-list {
    @include list-unstyled;
}

$utilities: map-merge(
                $utilities,
                (
                        "align": null,
                        "float": map-merge(
                                        map-get($utilities, "float"),
                                        (class: is-float)
                        ),
                        "object-fit": null,
                        "opacity": null,
                        "overflow": null,
                        "overflow-x": null,
                        "overflow-y": null,
                        "display": map-merge(
                                        map-get($utilities, "display"),
                                        (class: is-display)
                        ),
                        "shadow": null,
                        "focus-ring": null,
                        "position": null,
                        "top": null,
                        "bottom": null,
                        "start": null,
                        "end": null,
                        "translate-middle": null,
                        "border": null,
                        "border-top": null,
                        "border-end": null,
                        "border-bottom": null,
                        "border-start": null,
                        "border-color": null,
                        "subtle-border-color": null,
                        "border-width": null,
                        "border-opacity": null,
                        "width": map-merge(
                                        map-get($utilities, "width"),
                                        (class: has-width)
                        ),
                        "max-width": null,
                        "viewport-width": null,
                        "min-viewport-width": null,
                        "height": null,
                        "max-height": null,
                        "viewport-height": null,
                        "min-viewport-height": null,
                        "flex": null,
                        "flex-direction": null,
                        "flex-grow": null,
                        "flex-shrink": null,
                        "flex-wrap": null,
                        "justify-content": map-merge(
                                        map-get($utilities, "justify-content"),
                                        (
                                                class: has-justify-content,
                                                values: (
                                                        center: center
                                                )
                                        )
                        ),
                        "align-items": null,
                        "align-content": null,
                        "align-self": null,
                        "order": null,
                        "margin": map-merge(
                                        map-get($utilities, "margin"),
                                        (class: has-margin)
                        ),
                        "margin-x": map-merge(
                                        map-get($utilities, "margin-x"),
                                        (class: has-margin-x)
                        ),
                        "margin-y": map-merge(
                                        map-get($utilities, "margin-y"),
                                        (class: has-margin-y)
                        ),
                        "margin-top": map-merge(
                                        map-get($utilities, "margin-top"),
                                        (class: has-margin-top)
                        ),
                        "margin-end": map-merge(
                                        map-get($utilities, "margin-end"),
                                        (class: has-margin-end)
                        ),
                        "margin-bottom": map-merge(
                                        map-get($utilities, "margin-bottom"),
                                        (class: has-margin-bottom)
                        ),
                        "margin-start": map-merge(
                                        map-get($utilities, "margin-start"),
                                        (class: has-margin-start)
                        ),
                        "negative-margin": null,
                        "negative-margin-x": null,
                        "negative-margin-y": null,
                        "negative-margin-top": null,
                        "negative-margin-end": null,
                        "negative-margin-bottom": null,
                        "negative-margin-start": null,
                        "padding": map-merge(
                                        map-get($utilities, "padding"),
                                        (class: has-padding)
                        ),
                        "padding-x": map-merge(
                                        map-get($utilities, "padding-x"),
                                        (class: has-padding-x)
                        ),
                        "padding-y": map-merge(
                                        map-get($utilities, "padding-y"),
                                        (class: has-padding-y)
                        ),
                        "padding-top": map-merge(
                                        map-get($utilities, "padding-top"),
                                        (class: has-padding-top)
                        ),
                        "padding-end": map-merge(
                                        map-get($utilities, "padding-end"),
                                        (class: has-padding-end)
                        ),
                        "padding-bottom": map-merge(
                                        map-get($utilities, "padding-bottom"),
                                        (class: has-padding-bottom)
                        ),
                        "padding-start": map-merge(
                                        map-get($utilities, "padding-start"),
                                        (class: has-padding-start)
                        ),
                        "gap": null,
                        "row-gap": null,
                        "column-gap": null,
                        "font-family": null,
                        "font-size": null,
                        "font-style": null,
                        "font-weight": null,
                        "line-height": null,
                        "text-align": null,
                        "text-decoration": null,
                        "text-transform": null,
                        "white-space": null,
                        "word-wrap": null,
                        "color": null,
                        "text-opacity": null,
                        "text-color": null,
                        "link-opacity": null,
                        "link-offset": null,
                        "link-underline": null,
                        "link-underline-opacity": null,
                        "background-color": null,
                        "bg-opacity": null,
                        "subtle-background-color": null,
                        "gradient": null,
                        "user-select": null,
                        "pointer-events": null,
                        "rounded": null,
                        "rounded-top": null,
                        "rounded-end": null,
                        "rounded-bottom": null,
                        "rounded-start": null,
                        "visibility": null,
                        "z-index": null
                )
);

@import "~bootstrap/scss/utilities/api";
