$font-family-sans-serif: 'Roboto', sans-serif !default;
$font-family-serif: serif !default;
$font-family-monospace: monospace !default;
$font-family-base: var(--#{$prefix}font-sans-serif) !default;

$font-size-root: null !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$h1-font-size: 3rem !default;
$h2-font-size: 2.25rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.375rem !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$font-sizes: (
        1: $h1-font-size,
        2: $h2-font-size,
        3: $h3-font-size,
        4: $h4-font-size,
        5: $h5-font-size,
        6: $h6-font-size,
) !default;

$headings-margin-bottom: $spacer * .5 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: $font-weight-bold !default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;

$headings: (
        1: (
                font-size: $h1-font-size,
                font-weight: $headings-font-weight,
                line-height: $line-height-lg,
                letter-spacing: 0
        ),
        2: (
                font-size: $h2-font-size,
                font-weight: $headings-font-weight,
                line-height: $line-height-lg,
                letter-spacing: 0
        ),
        3: (
                font-size: $h3-font-size,
                font-weight: $headings-font-weight,
                line-height: $line-height-base,
                letter-spacing: 0
        ),
        4: (
                font-size: $h4-font-size,
                font-weight: $headings-font-weight,
                line-height: $line-height-base,
                letter-spacing: 0
        ),
        5: (
                font-size: $h5-font-size,
                font-weight: $headings-font-weight,
                line-height: $line-height-base,
                letter-spacing: 0
        ),
        6: (
                font-size: $h6-font-size,
                font-weight: $headings-font-weight,
                line-height: $line-height-base,
                letter-spacing: 0
        ),
) !default;

$lead-font-size: 1.375rem !default;
$lead-line-height: 1.2 !default;
$lead-font-weight: $font-weight-normal !default;

$small-font-size: .875rem !default;
$small-line-height: 1.2 !default;

$blockquote-margin-y: $spacer !default;
$blockquote-font-size: 1.375rem !default;
$blockquote-footer-color: $gray-600 !default;
$blockquote-footer-font-size: $small-font-size !default;

$hr-margin-y: $spacer !default;
$hr-color: inherit !default;

$hr-border-color: null !default; // Allows for inherited colors
$hr-border-width: var(--#{$prefix}border-width) !default;
$hr-opacity: .25 !default;

$mark-padding: .1875em !default;
$mark-color: $body-color !default;
$mark-bg: $yellow-100 !default;
