@theme {
    --color-black: #000;
    --color-white: #fff;

    --color-primary: oklch(0.452 0.3132 264.04);
    --color-secondary: oklch(0.696 0 0);
    --color-secondary-light: oklch(0.9219 0 0);
    --color-success: var(--color-green-700);
    --color-warning: var(--color-yellow-500);
    --color-danger: var(--color-red-600);

    --font-sans: "Roboto", sans-serif;

    --form-select-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
