.org-modules-container {
    > * {
        margin-bottom: $grid-gutter-width;
    }

    @include media-breakpoint-up(md) {
        display: grid;
        grid-gap: $grid-gutter-width;
        grid-auto-flow: row;
        grid-template-columns: repeat(6, 1fr);

        > * {
            margin-bottom: 0;
            grid-column: auto / span 3;
        }
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(12, 1fr);
    }

    // Modifiers

    &.is-half {
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    &.is-three-quarters {
        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &.is-one-quarter {
        @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr;
        }
    }
}
