.tpl-centered-body {
    --max-width: #{map-get($container-max-widths, lg)};
    --margin-inline: #{$container-padding-x};
    --margin-block: #{$container-padding-x};

    .centered-body-wrapper {
        box-sizing: border-box;
        min-height: calc(100lvh - var(--margin-block) * 2);
        margin-block: var(--margin-block);
        margin-inline: var(--margin-inline);
        display: grid;
        grid-template-columns: minmax(0, var(--max-width));
        justify-content: center;
        align-content: center;
    }
}
