.tpl-grid {
    --column-gap: 1em;
    --row-gap: 1em;
    --item-min-width: 100px;
    --item-max-width: 1fr;

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--item-min-width)), var(--item-max-width)));
        column-gap: var(--column-gap);
        row-gap: var(--row-gap);

        &:where(ul, ol) {
            list-style-type: ""; /* Remove list style without removing the role=list in Safari */
            padding-left: 0;
        }
    }
}